doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
    link(rel='stylesheet', href='/stylesheets/Treant.css')
    link(rel='stylesheet', href='/stylesheets/collapsable.css')
    //link(rel='stylesheet', href='/stylesheets/perfect-scrollbar.css')
  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") About
          li 
            a(href="/contact") Contact
          li
            a(href="/tree") Tree
    section#wrapper
      block content
      footer 
        section.css-table
          section.four-column
            section.cell
              p I have no <br /> fucking idea <br /> what the fuck is this
            section.cell
              p I have no <br /> fucking idea <br /> what the fuck is this
            section.cell
              p I have no <br /> fucking idea <br /> what the fuck is this
            section.cell
              p I have no <br /> fucking idea <br /> what the fuck is this
    script(type='text/javascript' src='/scripts/vendor/jquery.min.js')
    script(type='text/javascript' src='/scripts/vendor/jquery.easing.js')
    script(type='text/javascript' src='/scripts/vendor/jquery.mousewheel.js')
