extends tree-layout

block content
    #tree-diagram
    script(type='text/javascript' src='/scripts/vendor/raphael.js')
    script(type='text/javascript' src='/scripts/vendor/Treant.js')
    script(type='text/javascript' src='/scripts/tree.js')